# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.qodo/
# Environments
venv/
.env
!.env
env.txt.local
.DS_Store

# Keys
.keys/
*.p8
*.pem

# Byte-compiled / logs
*.log

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/

# Docker
.docker/
*.tar

