# Core
DEBUG=False
SECRET_KEY=changeme-in-prod

# Apple Sign-In
APPLE_CLIENT_ID=com.YourApp.com
APPLE_TEAM_ID=YOUR_TEAM_ID
APPLE_KEY_ID=YOUR_KEY_ID
APPLE_PRIVATE_KEY_PATH=.keys/AuthKey_YourKeyID.p8
APPLE_REDIRECT_URI=https://YourSafeDomain.com/redirect

# Dev tools
NGROK_AUTHTOKEN=your-ngrok-token
